discord.py
discord-pretty-help
python-dotenv
pymongo
dnspython
bs4
numpy
sympy
matplotlib
fuzzywuzzy
unidecode
flask
pytz
PyDictionary
pillow
async_lru
PyNaCl
youtube_dl
Flask-Discord
discord-py-slash-command