discord.py
discord_components
python-dotenv
pymongo
dnspython
bs4
numpy
sympy
matplotlib
fuzzywuzzy
unidecode
flask
pytz
PyDictionary
pillow
async_lru
Flask-Discord
discord-py-slash-command
python-youtube